<div class="mat-elevation-z8 author-content">
    <div class="read-authors-title">Autores</div>
    <div class="buttons-author">
      <button
        class="btn-authors"
        color="primary"
        mat-raised-button
        (click)="openCreateModal()"
      >
        <mat-icon>add</mat-icon> Novo
      </button>

    </div>
    <div class="table-container mat-table-responsive">
      <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        [dataSource]="dataSource.data"
        id="authorTable"
      >
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }}
          </td>
        </ng-container>
  
        <!-- actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ações</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              (click)="openUpdateModal(row.id)"
              class="edit"
            >
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openDeleteModal(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        class="paginator-mat"
        #paginator
        [length]="totalElements"
        [pageIndex]="paginator?.pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageOptions"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
  